/* Global styles */
body {
  padding: 0;
  margin: 0;
  font-family: 'Comic Sans MS', cursive, sans-serif; /* Bubbly font */
}

/* App container */
.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b3b396; /* Sage green */
}

/* Login and SignUp styles */
.login,
.signUp {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.login input,
.signUp input {
  margin: 10px;
  padding: 10px;
  border: 1px solid #8c8c70; /* Brown */
  border-radius: 4px;
  width: 300px;
  height: 30px;
}

.login button,
.signUp button {
  margin: 10px;
  padding: 10px;
  border: 1px solid #8c8c70; /* Brown */
  border-radius: 4px;
  width: 320px;
  height: 30px;
  cursor: pointer;
  background-color: #d9d9d9; /* Light gray */
}

.login label,
.signUp label {
  text-align: center;
  font-size: 20px;
  color: white;
}

/* Board styles */
.board {
  width: 500px;
  height: 500px;
  background-color: #fafafa; /* Light gray */
  border: 1px solid #8c8c70; /* Brown */
  display: flex;
  flex-direction: column;
}

.row {
  flex: 1;
  display: flex;
}

.square {
  flex: 1;
  border: 1px solid #8c8c70; /* Brown */
  cursor: pointer;
  display: grid;
  place-items: center;
  font-size: 30px;
  color: black;
}

.square:active {
  background-color: #d9d9d9; /* Light gray */
}

h4 {
  color: white;
  font-size: 30px;
}

/* Join game styles */
.joinGame input {
  padding: 10px;
  border: 1px solid #8c8c70; /* Brown */
  border-radius: 4px;
  width: 220px;
  height: 30px;
}

.joinGame button {
  padding: 10px;
  border: 1px solid #8c8c70; /* Brown */
  border-radius: 4px;
  width: 220px;
  height: 51px;
  cursor: pointer;
  background-color: #d9d9d9; /* Light gray */
}
